extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 #{name}


        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p
            | Hi There! Welcome to my portfolio. I am a support manager turned software developer with a strong aptitude for problem solving, a love of learning new technologies, and a passion building applications. During my career as a support manager I enjoyed helping people, communicating about technology and solving problems. However, I’ve always wanted to understand how technologies are created and what drives them. That curiosity sent me on a path to become a developer, and I haven’t looked back since.
            | 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li JavaScript
          li HTML
          li CSS
          li JQuery
          li Express.js
          li Pug
          li Git
          li HTTP Requests
          li API Requests
          li Node.js
          li OOP
          li REST API
          li React
          li SQL
          li Sequelize ORM

        h6 Contact Info

        
        ul
          li #{phone}
          li #{email}

        
        a.button.expanded(href=`${linkedIn}`, target="_blank") LinkedIn
        a.button.expanded(href=`${github}`, target="_blank") GitHub
        a.button.expanded(href=`${twitter}`, target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  